/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
} */

.container {
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1, h2, h3 {
    margin-top: 0;
}

.logo {
    width: 200px;
    margin-right: 50px;
}

#pswGroup {
    position: relative;
    margin-top: -20px;
}

form {
    max-width: 400px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"],
.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ced4da;
    padding: 10px;
    width: 100%;
}

.form-signin button {
    padding: 15px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.form-signin button:hover {
    background-color: #0056b3;
}

.inline {
    display: inline;
}

.like-a-link {
    color: #007bff;
    text-decoration: none;
}

.like-a-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
}

.logo-container {
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 100%; 
}

.forgot-password {
    text-align: right;
 
    margin-bottom: 20px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-around;
    }

    .form-signin {
        margin-top: 0;
    }
}
