<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">About</h1>
            <p class="lead text-muted">
                Welcome to About My Home Town! This is a place where you can see accumulated information for your local
                area, such as weather, news, and events.
            </p>
            <p class="lead text-muted">
                To view more information, please <a routerLink="/signin">create an account and
                    sign in!</a>
            </p>
            <p class="lead text-muted">
                This is a project that was created to demonstrate the use of Angular and Bootstrap to create a
                responsive web application.
            </p>
        </div>
    </div>
</section>