<div *ngIf="alertMessage"
    class="alert alert-{{ alertType }} d-flex align-items-center alert-dismissible alert-message fade show"
    role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
        <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div>
        {{ alertMessage }}
        <a *ngIf="alertPreferForm" class="like-a-link" (click)="swapForm(alertPreferForm); dismissAlert()">
            {{ alertPreferText }}
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
            (click)="dismissAlert()"></button>
    </div>
</div>

<div class="container">
    <div id="updateuser-form" class="card p-3 form-group">
        <h2 id="actionText">Welcome, {{ currentUser.displayName() }}</h2>

        <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">

            <div class="input-group mb-2">
                <div class="form-floating">
                    <input type="email" formControlName="email" class="form-control" id="email" readonly>
                    <label for="email" class="control-label">Email address</label>
                </div>
            </div>


            <div class="input-group mb-2">
                <div class="form-floating">
                    <input type="firstName" formControlName="firstName" class="form-control" id="firstName"
                        [readOnly]="!editMode">
                    <label for="firstName" class="control-label">First Name</label>
                </div>
            </div>

            <div class="input-group mb-2">
                <div class="form-floating">
                    <input type="lastName" formControlName="lastName" class="form-control" id="lastName"
                        [readOnly]="!editMode">
                    <label for="lastName" class="control-label">Last Name</label>
                </div>
            </div>

            <div class="input-group mb-2">
                <div class="form-floating">
                    <input type="zipCode" formControlName="zipCode" class="form-control" id="zipCode"
                        [readOnly]="!editMode">
                    <label for="zipCode" class="control-label">Zip Code</label>
                </div>
                <div *ngIf="updateUserForm.get('zipCode')?.invalid && updateUserForm.get('zipCode')?.touched"
                    class="alert alert-danger">
                    Invalid ZIP code
                </div>
            </div>

            <div class="input-group mb-2">
                <div class="form-floating">
                    <textarea type="bioInfo" formControlName="bioInfo" class="form-control" id="bioInfo"
                        [readOnly]="!editMode"></textarea>
                    <label for="bioInfo" class="control-label">Bio Information</label>
                </div>
                <div *ngIf="updateUserForm.get('bioInfo')?.invalid && updateUserForm.get('bioInfo')?.touched"
                    class="alert alert-danger">
                    Invalid Bio Information
                </div>
            </div>

            <div class="input-group">
                <button *ngIf="!editMode" id="edit-btn" type="button" class="btn btn-secondary w-100"
                    (click)="editMode = true">
                    <span>Edit</span>
                </button>

                <button *ngIf="editMode" id="submit-btn" type="submit" class="btn btn-primary w-100"
                    [disabled]="!updateUserForm.valid || isLoading">
                    <div *ngIf="isLoading" class="spinner-border" role="status">
                    </div>

                    <span *ngIf="!isLoading">Update User Information</span>
                </button>
            </div>
        </form>
    </div>