<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Home</h1>
      <p class="">Zip code: {{zipCode}}</p>
      <input id="zipCode" class="text-center" type="number" maxLength="5" minlength="5" placeholder="zip code">
      <p>
        <a class="btn btn-primary m-2" (click)="updateZip($event)">Set New Zip Code</a>
        <a class="btn btn-secondary m-2" (click)="resetZip($event)">Reset Zip Code</a>
        <a class="btn btn-secondary m-2" (click)="getLocation($event)">Use My Current Location</a>
      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container" style="max-width: 900px;">
    <div class="row">
    <div class="col w-75 mx-auto">
      <app-weatherwidget [zipCode]='zipCode'></app-weatherwidget>
    </div>
    <div class="col w-75 mx-auto">
      <app-restaurant-widget [zipCode]='zipCode'></app-restaurant-widget>
      
    </div>
  </div>
  </div>
</div>
<p class="small">Current location to zip information provided by <a href="https://simplemaps.com/data/us-zips" target="_blank">https://simplemaps.com/data/us-zips</a></p>